@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body {
  height: 100%;
  margin: 0 auto; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  position: relative; }
  header .text {
    display: flex;
    align-items: baseline;
    margin-top: 4px; }
    header .text li {
      list-style: none;
      margin-right: 15px; }
      header .text li a {
        font-size: 12px;
        opacity: .7;
        color: #000;
        text-decoration: none; }
        header .text li a:hover {
          text-decoration: underline; }
  header .icon {
    display: flex;
    align-items: center;
    cursor: pointer; }
    header .icon i {
      margin-right: 18px;
      font-size: 22px;
      color: rgba(0, 0, 0, 0.55); }
    header .icon i:nth-child(2) {
      background-color: rgba(0, 0, 0, 0.55);
      color: #fff;
      border-radius: 100%;
      padding: 3px;
      font-size: 12px; }
      header .icon i:nth-child(2):hover {
        background-color: #000; }
    header .icon i:nth-child(1) {
      font-size: 26px; }
      header .icon i:nth-child(1):hover {
        color: #000; }
    header .icon span {
      margin-right: 20px; }
      header .icon span:after {
        content: url(http://lorempixel.com/30/30/);
        width: 28px;
        height: 28px;
        display: inline-block;
        border-radius: 100%;
        overflow: hidden; }
  header .tools {
    position: absolute;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    display: none;
    top: 53px;
    right: 20px;
    flex-direction: row;
    width: 240px;
    height: 260px;
    background-color: #ededed; }
    header .tools i {
      font-size: 36px;
      flex: auto;
      width: 40px;
      padding: 2vh; }
      header .tools i:hover {
        cursor: pointer; }
    header .tools:before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: #ededed;
      transform: rotate(42deg);
      position: absolute;
      top: -5px;
      left: 137px; }

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%; }
  main img {
    margin-bottom: 20px; }
  main .input-group {
    position: relative; }
    main .input-group input[type="text"] {
      border: 1px solid #e6e6e6;
      box-shadow: 2px 1px 3px #d6d6d6;
      width: 500px;
      height: 30px; }
      @media only screen and (max-width: 520px) {
        main .input-group input[type="text"] {
          width: 300px;
          height: 35px; } }
      main .input-group input[type="text"]:focus {
        outline: none;
        box-shadow: 2px 4px 3px #d6d6d6; }
      main .input-group input[type="text"]:after {
        font-family: 'Material Icons';
        content: "link";
        -webkit-font-feature-settings: 'material-icons'; }
    main .input-group i {
      position: absolute;
      position: absolute;
      right: 10px;
      top: 3px;
      color: #808080;
      cursor: pointer; }
      @media only screen and (max-width: 520px) {
        main .input-group i {
          top: 8px; } }
  main input[type="text"]::-webkit-input-placeholder {
    padding-left: 10px;
    font-size: 16px; }
    @media only screen and (max-width: 520px) {
      main input[type="text"]::-webkit-input-placeholder {
        font-size: 14px;
        padding-left: 5px; } }
  main .btn-group {
    margin-top: 20px; }
    main .btn-group input[type="submit"] {
      padding: 10px 32px;
      border: none;
      font-weight: bold;
      background-color: #f2f2f2;
      color: #888888;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 2px; }
      main .btn-group input[type="submit"]:hover {
        color: #000; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2; }
  @media only screen and (max-width: 528px) {
    footer {
      height: 60px;
      text-align: center; } }
  footer a {
    font-size: 12px;
    opacity: .7;
    color: #000;
    text-decoration: none;
    cursor: pointer; }
    footer a:hover {
      text-decoration: underline; }
  footer .left-list {
    float: left; }
    @media only screen and (max-width: 528px) {
      footer .left-list {
        text-align: center;
        float: none; } }
    footer .left-list li {
      display: inline-block;
      margin: 10px 0px 0px 20px; }
  footer .right-list {
    float: right; }
    @media only screen and (max-width: 528px) {
      footer .right-list {
        float: none;
        text-align: center; } }
    footer .right-list li {
      display: inline-block;
      margin: 10px 20px 0px 0px;
      cursor: pointer; }

/*# sourceMappingURL=main.css.map */
