@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body {
  height: 100%;
  margin: 0 auto; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  position: relative; }
  header .text {
    display: flex;
    align-items: baseline;
    margin-top: 4px; }
    header .text li {
      list-style: none;
      margin-right: 15px; }
      header .text li a {
        font-size: 12px;
        opacity: .7;
        color: #000;
        text-decoration: none; }
        header .text li a:hover {
          text-decoration: underline; }
  header .icon {
    display: flex;
    align-items: center;
    cursor: pointer; }
    header .icon i {
      margin-right: 18px;
      font-size: 22px;
      color: rgba(0, 0, 0, 0.55); }
    header .icon i:nth-child(2) {
      background-color: rgba(0, 0, 0, 0.55);
      color: #fff;
      border-radius: 100%;
      padding: 3px;
      font-size: 12px; }
      header .icon i:nth-child(2):hover {
        background-color: #000; }
    header .icon i:nth-child(1) {
      font-size: 26px; }
      header .icon i:nth-child(1):hover {
        color: #000; }
    header .icon span {
      margin-right: 20px; }
      header .icon span:after {
        content: url(http://lorempixel.com/30/30/);
        width: 28px;
        height: 28px;
        display: inline-block;
        border-radius: 100%;
        overflow: hidden; }
  header .tools {
    position: absolute;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    display: none;
    top: 53px;
    right: 20px;
    z-index: 1;
    box-shadow: -1px 2px 2px #bfbfbf;
    flex-direction: row;
    width: 240px;
    height: 260px;
    background-color: #ededed; }
    header .tools i {
      font-size: 36px;
      flex: auto;
      width: 40px;
      padding: 2vh; }
      header .tools i:hover {
        cursor: pointer; }
    header .tools i:nth-child(even) {
      color: #4285f4; }
    header .tools i:nth-child(odd) {
      color: #ea4335; }
    header .tools:before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: #ededed;
      transform: rotate(42deg);
      position: absolute;
      top: -5px;
      left: 137px; }
  header .notification {
    position: absolute;
    background-color: #ededed;
    top: 53px;
    right: 20px;
    display: none;
    z-index: 1;
    width: 260px;
    height: 240px;
    box-shadow: -1px 2px 2px #bfbfbf; }
    header .notification:before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: #ededed;
      transform: rotate(42deg);
      position: absolute;
      top: -5px;
      right: 43px; }
    header .notification i {
      float: left;
      font-size: 31px;
      color: #717171;
      width: 20px;
      padding: 12px 7px; }
    header .notification h2 {
      text-align: center;
      display: block;
      font-size: 30px;
      color: #c1c1c1;
      font-weight: bold;
      margin-top: 12px;
      margin-right: 50px; }
    header .notification p {
      color: #a9a9a9;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 28%; }
    header .notification span {
      position: absolute;
      bottom: 0px;
      height: 20px;
      background-color: gainsboro;
      width: 100%; }
      header .notification span i {
        color: #828282;
        margin: -5px 0px 0px 120px;
        padding: 0px; }
  header .profile {
    width: 300px;
    height: 190px;
    background-color: #ededed;
    display: none;
    position: absolute;
    top: 53px;
    right: 5px;
    border-radius: 2px;
    box-shadow: -1px 2px 2px #bfbfbf;
    z-index: 1; }
    header .profile figure {
      width: 39%;
      float: left;
      margin: 30px 0px 0px 12px; }
      header .profile figure img {
        width: 90px;
        height: 90px;
        border-radius: 100%; }
    header .profile:before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: #ededed;
      transform: rotate(42deg);
      position: absolute;
      top: -5px;
      right: 20px; }
    header .profile .info {
      margin-top: 25px; }
      header .profile .info h4 {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 6px; }
      header .profile .info p {
        font-weight: 400;
        font-size: 13px;
        margin-bottom: 4px; }
      header .profile .info span a {
        font-size: 13px;
        text-decoration: underline;
        color: #5a7ee4; }
      header .profile .info button {
        width: 96px;
        color: #fff;
        margin-top: 9px;
        border: 1px solid #848484;
        margin-left: 2px;
        background-color: #4d90fe;
        height: 33px;
        font-weight: bold;
        border-radius: 2px; }
    header .profile .pro-footer {
      position: absolute;
      bottom: 0px;
      width: 100%;
      background-color: #e6e6e6;
      padding: 5px 0px;
      border-top: 1px solid #c3c0c0; }
      header .profile .pro-footer button:first-child {
        float: left;
        margin: 4px 0px 4px 15px;
        background-color: #f5f5f5;
        color: #5d5d5d;
        font-size: 13px;
        font-weight: 300;
        border: 1px solid #b5b5b5; }
      header .profile .pro-footer button:last-child {
        float: right;
        margin: 4px 18px 4px 0px;
        background: #f5f5f5;
        color: #5d5d5d;
        font-size: 13px;
        font-weight: 300;
        border: 1px solid #b5b5b5; }

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13%; }
  main img {
    margin-bottom: 20px; }
  main .input-group {
    position: relative; }
    main .input-group input[type="text"] {
      border: 1px solid #e6e6e6;
      box-shadow: 2px 1px 3px #d6d6d6;
      width: 500px;
      height: 40px; }
      @media only screen and (max-width: 520px) {
        main .input-group input[type="text"] {
          width: 300px;
          height: 37px; } }
      main .input-group input[type="text"]:focus {
        outline: none;
        box-shadow: 2px 4px 3px #d6d6d6; }
    main .input-group i {
      position: absolute;
      right: 10px;
      top: 9px;
      color: #808080;
      cursor: pointer; }
      @media only screen and (max-width: 520px) {
        main .input-group i {
          top: 8px; } }
  main input[type="text"]::-webkit-input-placeholder {
    padding-left: 10px;
    font-size: 15px; }
    @media only screen and (max-width: 520px) {
      main input[type="text"]::-webkit-input-placeholder {
        font-size: 14px;
        padding-left: 5px; } }
  main .btn-group {
    margin-top: 20px; }
    main .btn-group input[type="submit"] {
      padding: 10px 32px;
      border: none;
      font-weight: bold;
      background-color: #f2f2f2;
      color: #888888;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 2px; }
      main .btn-group input[type="submit"]:hover {
        color: #000; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2; }
  @media only screen and (max-width: 528px) {
    footer {
      height: 60px;
      text-align: center; } }
  footer a {
    font-size: 12px;
    opacity: .7;
    color: #000;
    text-decoration: none;
    cursor: pointer; }
    footer a:hover {
      text-decoration: underline; }
  footer .left-list {
    float: left; }
    @media only screen and (max-width: 528px) {
      footer .left-list {
        text-align: center;
        float: none; } }
    footer .left-list li {
      display: inline-block;
      margin: 10px 0px 0px 20px; }
  footer .right-list {
    float: right; }
    @media only screen and (max-width: 528px) {
      footer .right-list {
        float: none;
        text-align: center; } }
    footer .right-list li {
      display: inline-block;
      margin: 10px 20px 0px 0px;
      cursor: pointer; }

.mic {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #4d90fe;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: none; }
  .mic h3 {
    color: #bdbec1;
    margin-right: 250px;
    font-size: 35px; }
    @media only screen and (max-width: 650px) {
      .mic h3 {
        margin-right: 100px; } }
    @media only screen and (max-width: 450px) {
      .mic h3 {
        margin-right: 50px;
        font-size: 30px; } }
  .mic .speak {
    position: relative;
    color: #000; }
    .mic .speak i {
      color: #ea4335;
      font-size: 80px; }
      @media only screen and (max-width: 450px) {
        .mic .speak i {
          font-size: 35px; } }
    .mic .speak:before {
      content: "";
      width: 80px;
      height: 80px;
      background-color: #6b6b6b;
      border-radius: 100%;
      display: block;
      position: absolute;
      animation: be 3s linear infinite;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px; }
      @media only screen and (max-width: 450px) {
        .mic .speak:before {
          width: 35px;
          height: 35px; } }
    .mic .speak:after {
      content: "";
      width: 80px;
      height: 80px;
      background-color: #49496b;
      border-radius: 100%;
      display: block;
      position: absolute;
      animation: af 6s linear infinite;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px; }
      @media only screen and (max-width: 450px) {
        .mic .speak:after {
          width: 35px;
          height: 35px; } }
  .mic .na {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
    .mic .na i {
      font-size: 30px;
      color: #717171; }

@keyframes be {
  0% {
    opacity: 0;
    transform: scale(1, 1); }
  80% {
    opacity: 0.4;
    transform: scale(1.5, 1.5); }
  100% {
    opacity: 0;
    transform: scale(2, 2); } }
@keyframes af {
  0% {
    opacity: 0;
    transform: scale(1, 1); }
  80% {
    opacity: .4;
    transform: scale(1.7, 1.7); }
  100% {
    opacity: 0;
    transform: scale(2.5, 2.5); } }

/*# sourceMappingURL=main.css.map */
